@using Application.Dto
@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "GetAllProducts";
}

<h1>List Products</h1>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">


@*@using (Html.BeginForm("SearchMaterials", "Home", FormMethod.Get)) //FormMethodPost.Post
{
            <input type="text" name="searchMaterial" />
        <input  class="btn btn-outline-primary" type="submit" value="Filtruj" /> 
        <h6>wpisz nazwe lub cene materiału</h6> 
}*@
<br/>

<div class="page-1">
    @foreach (var product in Model)
    {
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Nzwa</th>
                      <th scope="col">Typ</th>
                      <th scope="col">Cena</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th scope="row">@product.ProductId</th>
                      <td>@product.ProductName</td>
                      <td>@product.Type</td>
                      <td>@product.ProductPrice</td>
@*                      <td>
                        @using (Html.BeginForm(" ", "Home", FormMethod.Post))
                        {
                                    <input type="hidden" name="id" value="@product.ProductId"/>
                                    <button class="btn btn-danger" type="submit">Usuń</button>
                        }
                      </td>*@
                      </tr> 

                  </tbody>

                </table>

    }
