@using Application.Dto;
@model IEnumerable<MaterialDto>
@{
    ViewData["Title"] = "List";
}

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">

<h3>Lista materiałów</h3>
@using (Html.BeginForm("SearchMaterials", "Home", FormMethod.Get)) //FormMethodPost.Post
{
        <input type="text" name="searchMaterial" />
    <input  class="btn btn-outline-primary" type="submit" value="Filtruj" /> 
    <h6>wpisz nazwe lub cene materiału</h6> 
}
<br/>
<div class="page-1">
        @foreach (var material in Model)
        {
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">@material.Id</th>
                  <td>@material.Name</td>
                  <td>@material.Description</td>
                  <td>@material.Price</td>
                  <td>
                        @using (Html.BeginForm("DeleteMaterials", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@material.Id"/>
                            <button class="btn btn-danger" type="submit">Usuń</button>
                        }


                  </td>
                  <td>
                        @using (Html.BeginForm("Edit", "Home", FormMethod.Get))
                        {
                             <input type="hidden" name="Id" value="@material.Id" />
                             <button class="btn btn-danger" type="submit">Edytuj</button>
                        }
                  </td>
                  </tr> 

              </tbody>

            </table>

        }

</div>