@model Application.Dto.CustomerDto
@{
    ViewData["Title"] = "Add";
}
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
<h3>Dodanie klienta</h3>
@using (Html.BeginForm("Search", "Customer", FormMethod.Post))
{
                    <input type="text" name="SearchString" />
                        <input class="btn btn-outline-primary" type="submit" value="Filtruj" /> 

                    <h6>wpisz właściwość klienta</h6> 
}
<div class="row g-3">
    @using (Html.BeginForm("Add", "Customer", FormMethod.Post))
    {
        @*@Html.ValidationSummary()*@

                      <div class="col">
                          <input type="text" class="form-control" placeholder="Imię klienta" @Html.TextBoxFor(x =>x.Name)>
                          <span asp-validation-for="Name" class="text-danger"></span>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Nazwisko" @Html.TextBoxFor(x => x.Surname)>
                          <span asp-validation-for="Surname" class="text-danger"></span>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Numer telefonu" @Html.TextBoxFor(x => x.PhoneNumber)>
                          <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="AdresEmail" @Html.TextBoxFor(x => x.EmailAdres)>
                              <span asp-validation-for="EmailAdres" class="text-danger"></span>
                      </div>
                      <p>Adres:</p>
                      <div class="col">
                          
                          <input type="text" class="form-control" placeholder="Ulica" @Html.TextBoxFor(x => x.Street)>
                          <span asp-validation-for="Street" class="text-danger"></span>
                      </div>
                    
                      <div class="col">
                         <input type="text" class="form-control" placeholder="Numer ulicy" @Html.TextBoxFor(x => x.NumberOf)>
                         <span asp-validation-for="NumberOf" class="text-danger"></span>
                      </div>
                      <div class="col">
                         <input type="text" class="form-control" placeholder="Miasto" @Html.TextBoxFor(x => x.City)>
                         <span asp-validation-for="City" class="text-danger"></span>
                      </div>
                      <div class="col">
                         <input type="text" class="form-control" placeholder="Kod pocztowy" @Html.TextBoxFor(x => x.PostCode)>
                         <span asp-validation-for="PostCode" class="text-danger"></span>
                      </div>
                    <br/>
                    <button class="btn btn-primary" type="submit"> Wyślij formularz</button> 

    }
    <br/>

</div>

